.Login {
  width: 100vw;
  height: 100vh;
}

.Login .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2rem;
}

.Login .form .text {
  font-size: 40px;
  color: #1d3557;
}

.Login .form .email {
  width: 500px;
  height: 75px;
  margin-top: 20px;

  border-radius: 10px;
  border: none;

  background-color: #f1faee;
}

.Login .form .password {
  width: 500px;
  height: 75px;
  margin-top: 40px;

  border-radius: 10px;
  border: none;

  background-color: #f1faee;
}

.Login .form ::placeholder {
  padding: 20px;
  font-size: 24px;
}

.Login .form .button {
  width: 350px;
  height: 70px;
  margin-top: 40px;

  border-radius: 10px;
  border: none;
  cursor: pointer;

  background: #457b9d;

  color: #f1faee;
  font-size: 36px;
  transition: 0.3s;
}

.Login .form .button:hover {
  background-color: #1d3557;
  color: white;
}

.Login .form .register {
  margin-top: 40px;

  font-size: 16px;
  color: #1d3557;
}

.Login .form .register a {
  text-decoration: none;
  color: #1d3557;
}