.carrosel {
  display: flex;
  flex-direction: row;
}

.filme {
  margin: 0.5rem;
}

.popular-container {
  display: flex;
  flex-direction: column;
}
.search-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.movies-image {
  display: flex;
  flex-direction: row;
}

.searchBar {
  width: 20rem;
  height: 1.5rem;
  border: 1px solid #0d0d0d;
  background-color: #262626;
  border-radius: 8px;
  align-items: center;
  padding: 0.625rem;
  transition: border 0.1s, outline 0.1s;
  color: white;
  font-size: 1rem;
}
.searchBar:hover {
  outline: 2px solid #269915;
}
.searchButton {
  display: flex;
  width: 5rem;
  height: ;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  padding: 0.625rem;
  color: white;
  background-color: #269915;
  transition: 0.1s;
}
.searchButton:hover {
  opacity: 0.6;
}
.searchBar:focus {
  outline: 2px solid #269915;
}
