.carrosel {
  display: flex;
  flex-direction: row;
}

.filme {
  margin: 0.5rem;
}

.popular-container {
  display: flex;
  flex-direction: column;
}
.search-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.movies-image {
  display: flex;
  flex-direction: row;
}

.searchBar {
  width: 20rem;
  height: 1.5rem;
  border: 1px solid #0d0d0d;
  background-color: #262626;
  border-radius: 8px;
  align-items: center;
  padding: 0.625rem;
  transition: border 0.1s, outline 0.1s;
  color: white;
  font-size: 1rem;
}
.searchBar:hover {
  outline: 2px solid #269915;
}
.searchButton {
  display: flex;
  width: 5rem;
  height: ;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  padding: 0.625rem;
  color: white;
  background-color: #269915;
  transition: 0.1s;
}
.searchButton:hover {
  opacity: 0.6;
}
.searchBar:focus {
  outline: 2px solid #269915;
}

.recommended-movies-heading {
  text-align: center;
  font-size: 1.5rem; /* Adjust the font size as needed */
  margin-bottom: 10px; /* Add some space between the heading and movies */
}

.movies-list-container {
  text-align: center; /* Center-align the movies and heading */
}

.movies-container {
  display: flex; /* Use flexbox to create a horizontal row */
  flex-wrap: wrap; /* Allow items to wrap to the next line if they exceed the container's width */
  justify-content: center; /* Center items horizontally within the container */
}

.movie {
  display: inline-block; /* Display movies as inline blocks */
  text-align: center; /* Center the movie name */
  margin: 10px; /* Adjust margin as needed */
}

.movie-poster {
  width: 180px; /* Adjust the width as needed */
  height: auto; /* To maintain the aspect ratio */
  margin-right: 10px; /* Add some margin between posters */
}

.movie a {
  text-decoration: none; /* Remove underline from movie links */
  color: white; /* Set text color */
}

.movie-poster-container {
  position: relative;
  display: inline-block;
}


.movie-info-popup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  z-index: 1; /* Ensure the popup appears in front of the posters */
  display: none;
  /* Set the width and height to match the movie poster */
  width: 160px; /* Adjust the width as needed */
  height: 250px;
  /* Center the popup content vertically and horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-button {
  color: black;
}

.movie-poster-container:hover .movie-info-popup {
  display: block;
  
}

.movie-infos-text{
  color: white;
}

.link-button{
  color: red;
}

.subtitle-recommendations{
  font-size: 15;
}
